@font-face {
    font-family:'Century Gothic';
    src: url('../fonts/centurygothic.eot');
    src: url('../fonts/centurygothic.eot') format('embedded-opentype'),
         url('../fonts/centurygothic.woff2') format('woff2'),
         url('../fonts/centurygothic.woff') format('woff'),
         url('../fonts/centurygothic.ttf') format('truetype'),
         url('../fonts/centurygothic.svg#CenturyGothicRegular') format('svg');
         font-weight: normal;
		 font-style: normal;
}

@font-face {
    font-family:'OpenSans';
    src: url('../fonts/open-sans.eot');
    src: url('../fonts/open-sans.eot') format('embedded-opentype'),
         url('../fonts/open-sans.woff2') format('woff2'),
         url('../fonts/open-sans.woff') format('woff'),
         url('../fonts/open-sans.ttf') format('truetype'),
         url('../fonts/open-sans.svg#OpenSansRegular') format('svg');
         font-weight: normal;
		 font-style: normal;
}

@font-face{
	font-family: 'Ubuntu';
	src:url(../fonts/Ubuntu-R.ttf);
}


.container{
	width: 980px;
	margin:0 auto;
}
.nav, .filter-block, footer{
	overflow: hidden;
	background: #000;
	min-width: 980px;
}
.nav nav{
	overflow: hidden;
	padding:15px 0 15px 55px;
}
.nav nav ul li{
	list-style: none;
	float: left;
	margin-right: 30px;
}
	.nav nav ul li a{
		text-decoration: none;
		color: #fff;
		font-family: 'Century Gothic';
		text-transform: uppercase;
		font-size: 14px;
	}
	.nav nav ul li a:hover, .nav nav .active{
		color: #9bd37e;
	}
.logo-container{
	position: absolute;
	background: url(../images/logo.png);
	height: 95px;
	width: 225px;
	top: -18px;
	z-index: 2;
	
}
.left-nav{
	display: inline-block;
	float: left;
}
.logo{
	float: left;
	margin-left: 20px;
}
.right-nav{
	display: inline-block;
	float: right;
	position: relative;
	right: 46px;
}


.slider img{
	width: 100%;
	min-width: 980px;
}
.filter-block{
	padding-top: 3px;
	padding-bottom: 2px;
	height: 30px;
}
.header-social{
	float: left;
}
.social{
	background: url(../images/header-social.png) no-repeat top left;
	display: inline-block;
	margin-right: 2px;
	}
.vopros{background-position: 0 -213px; width: 21px; height: 21px;}
.star{background-position: 0 -142px; width: 22px; height: 21px;}
.facebook{background-position: 0 0; width: 21px; height: 21px;}
.in{background-position: 0 -71px; width: 21px; height: 21px;}

.filter-block form{
	width: 400px;
	float: left;
	margin-left: 185px;
	margin-top: 1px;
	position: relative;
}
.filter-block form input[type="text"]{
	width: 100%;
	border:2px solid #656060;
	outline: 0;
	-moz-border-radius: 4px;
	 -webkit-border-radius: 4px; 
	 -o-border-radius: 4px; 
	 border-radius: 4px; 
	 padding-top: 1px;
	 padding-bottom: 1px;
	 padding-left: 210px;
}
.filter-block form input[type="submit"]{
	background: url(../images/footer-social.png) no-repeat;
	background-position: 0 -204px;
	position: absolute;
	top: 4px;
	right: 6px;
	width: 11px;
	height: 11px;
	outline: 0;
	border:0;
	cursor: pointer;
	
}
.presentation{
	float: right;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	width: 115px;
	height: 25px;
	text-align: center;
	background: #61a53a; /* Old browsers */
	background: -moz-linear-gradient(top,  #61a53a 0%, #55942f 37%, #478023 65%, #40761d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#61a53a), color-stop(37%,#55942f), color-stop(65%,#478023), color-stop(100%,#40761d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #61a53a 0%,#55942f 37%,#478023 65%,#40761d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #61a53a 0%,#55942f 37%,#478023 65%,#40761d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #61a53a 0%,#55942f 37%,#478023 65%,#40761d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #61a53a 0%,#55942f 37%,#478023 65%,#40761d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a53a', endColorstr='#40761d',GradientType=0 ); /* IE6-9 */
	padding-top: 5px;
	-moz-border-radius: 2px;
	 -webkit-border-radius: 2px; 
	 -o-border-radius: 2px; 
	 border-radius: 2px; 
	 font-family: 'Ubuntu';
	}
.portfolio-block{
	min-width: 980px;
	padding-bottom: 30px;
	overflow: hidden;
}
.portfolio{
	margin-top: 15px;
	float: left;
	width: 315px;
	height: 215px;
	overflow: hidden;
	margin-left: 17px;
	display: none;
}

.portfolio-wrapper{
	position: relative;
	overflow: hidden;
}

.label-text{
	font-family: 'Century Gothic';
	text-align: center;
	font-size: 14px;
	position: absolute;
	top: 0;
	width: 99.9%;
	height: 36px;
	background: url(../images/label-png.png) no-repeat right;
	background-color:rgba(0, 0, 0, 0.6); 
	text-transform: uppercase;
	color: #fff;
	padding-top: 10px;
}
.label-text-bottom{
	position: absolute;
	background-color:rgba(0, 0, 0, 0.6); 
	bottom: -33px;
	height: 36px;
	width: 99.9%;
}
.text{
	color: #fff;
	float: left;
	padding-left: 10px;
	font-family: 'Ubuntu';
	font-size: 12px;
	text-transform: uppercase;
	width: 60%;
	padding-top: 3px;

}
.label-social-icon{
	display: inline-block;
	background:url(../images/label-social.png) no-repeat top left;
	float: right;
}
.label-star{background-position: 0 -207px; width: 20px; height: 19px;}
.label-facebook{background-position: 0 0; width: 20px; height: 19px;}
.label-in{background-position: 0 -69px; width: 20px; height: 19px;}
.label-arrow{ background-position: 0 -138px; width: 20px; height: 19px;}

.minus{
	background: url(../images/minus.png);
	width: 32px;
	height: 33px;
	float: left;
}
.about-company{
	width: 580px;
	float: left;
	color: #fff;
	margin-left: 35px;
	padding-top: 10px;
	position: relative;
}
	.about-company h3{
		color: #9bd37e;
		text-transform: uppercase;
		font-family: 'Century Gothic';
		font-size: 14px;
	}
	.about-company p{
		font-family: 'OpenSans';
		font-size: 12px;
		margin-top: 15px;
		line-height: 1.5;
	}
.contacts{
	width: 145px;
	float: left;
	margin-left: 85px;
	color: #fff;
	padding-top: 10px;
}
	.contacts h3{
		color: #9bd37e;
		text-transform: uppercase;
		font-family: 'Century Gothic';
		font-size: 14px;
		float: right;
	}
.footer-social{
	display: inline-block;
	background: url(../images/footer-social.png) no-repeat top left;
}
.contacts-vopros{background-position: 0 -401px; width: 18px; height: 18px;}
.contacts-star{background-position: 0 -333px; width: 19px; height: 18px;}
.contacts-facebook{background-position: 0 0; width: 18px; height: 18px;}
.contacts-in{background-position: 0 -68px; width: 19px; height: 18px;}
.contacts-post{ background-position: 0 -136px; width: 19px; height: 18px;}
.contacts-skype{background-position: 0 -263px; width: 20px; height: 20px;}

.social-container{
	margin-top: 15px;
	float: right;
}
.contacts p{
	font-size: 16px;
	font-family: 'Century Gothic';
	margin-top: 7px;
	float: right;
}
.copyright{
	font-size: 12px;
	font-family: 'Century Gothic';;
	color: #898989;
	margin-top: 8px;
	float: left;
}
.arrow{
	float: right;
	background: url(../images/arrow.png);
	width: 31px;
	height: 31px;
	position: relative;
	top: 90px;
}
.control ol li{
	display: inline-block;
	margin-right: 2px;
}
.control ol li a{
	display: inline-block;
	width: 10px;
	height: 10px;
	-moz-border-radius:12px;
	-o-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius: 12px;
	background-color: #fff;
}
.control{
	position: absolute;
	top: 10px;
	right: 145px;
}
.control .active, .control ol li a:hover{
	background-color: #7cc576;
}

.categories{
	width: 200px;
	background-color: #fff;
	z-index: 10;
	margin-left: 291px;
	margin-top: 3px;
	position: absolute;
	-moz-border-radius:4px 0 4px 4px;
	-o-border-radius:4px 0 4px 4px;
	-webkit-border-radius:4px 0 4px 4px;
	border-radius: 4px 0 4px 4px;
	padding-left: 10px;
	padding-right: 0;
	font-family: 'Century Gothic';
	font-size: 12px;
	padding-top: 3px;

}
.categories ul li{
	cursor: pointer;
	line-height: 1.7;
	border-bottom: 1px solid #ebebeb;
	padding-left: 15px;
}
	.categories ul li:hover{
		color: #7cc576;
		background: url(../images/arrow-right.png)no-repeat;
		background-position: 0;
	}

.categories ul{
	padding-left: 15px;
	margin-top: 5px;
	height: 105px;
	overflow-x:hidden;
	overflow-y:scroll;
}

.categories a{
	text-decoration: none;
	color: #000;
	padding-left: 15px;
	
}

.padd-left{
	padding-left: 15px;
}

.arrow-bottom{
	width: 9px;
	height:17px;
	display: block;
	position: absolute;
	background:url(../images/arrow-bottom.png)no-repeat;
	background-position: 1px;
	z-index:11;
	margin-left: 476px;
	margin-top: 3px;
	padding-right: 14px;
	border-right: 2px solid #c7c7c7;
}

/*---------------------------------------Страница о студии----------------------------------------*/

.under-nav{
	overflow: hidden;
	background-color: #464646;
	padding-top: 65px;
	padding-bottom: 35px;
	min-width: 980px;
}
.services-menu{
	padding-top: 45px !important;
	padding-bottom: 25px !important;
}
.under-nav nav{
	width: 425px;
	margin: 0 auto;
}
.services-nav{
	width: auto !important;
}
.under-nav nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: 'Century Gothic';
}
	.under-nav nav ul li a:hover, .under-nav nav ul li a.active{
		color: #9bd37e;
	}
.under-nav nav ul li{
	float: left;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 1px;
	border-right:1px solid #5c5c5c;
}
.services-nav ul li{
	padding-left: 7px !important;
	padding-right: 7px !important;
}
.services-nav ul{
	overflow: hidden;
}
	.services-nav ul:last-child{
		margin-top: 20px;
		margin-left: 20px;
	}
.under-nav nav ul li:first-child{
	padding-left: 0;
}
.under-nav nav ul li:last-child{
	border-right: 0;
}
.arrow-left, .about-slider-img, .arrow-right{
	float: left;
}
.about-slider{
	padding-top: 25px;
	background-color: #ebebeb;
	overflow: hidden;
	padding-bottom: 25px;
}
.arrow-slider{
	display: block;
	background:url(../images/about-arrow.png) no-repeat top left;

}
.slider-arrow-top{background-position: 0 -251px; width: 33px; height: 33px;}
	.slider-arrow-top:hover{background-position: 0 -584px; width: 33px; height: 33px;
	}
.slider-arrow-bottom{background-position: 0 0; width: 33px; height: 33px; margin-top: 10px;}
	.slider-arrow-bottom:hover{background-position: 0 -333px; width: 33px; height: 33px;}
.slider-arrow-left{background-position: 0 -83px; width: 33px; height: 33px;float: left;}
	.slider-arrow-left:hover{background-position: 0 -416px; width: 33px; height: 33px;}
.slider-arrow-right{background-position: 0 -166px; width: 33px; height: 33px;float: left;margin-left: 10px;}
	.slider-arrow-right:hover{background-position: 0 -499px; width: 33px; height: 33px;}

.about-slider img{
	-webkit-box-shadow: 3px 0px 19px 0px rgba(50, 50, 50, 0.64);
	-moz-box-shadow:   3px 0px 19px 0px rgba(50, 50, 50, 0.64);
	box-shadow:        3px 0px 19px 0px rgba(50, 50, 50, 0.64);
}

.arrow-left{
	position: relative;
	top: 220px;
	margin-right: 15px;
}
.arrow-right{
	position: relative;
	top: 250px;
	margin-left: 15px;
}


/*----------------------------------------------Страница команда--------------------------*/
.view {
 width: 235px;
 height: 235px;
 margin: 10px 5px 5px 5px;
 float: left;
 overflow: hidden;
 position: relative;
 text-align: center;
 cursor: default;
}
	.portfolio-view{
		width: 313px !important;
		height: 215px !important;
	}
.view .mask, .view .content {
 width: 235px;
 height: 235px;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0
}
	.portfolio-view .mask, .portfolio-view .content{
		width: 313px !important;
		height: 215px !important;
	}
.view img {
 display: block;
 position: relative
}
.view h2 {
 text-transform: uppercase;
 color: #fff;
 text-align: center;
 position: relative;
 font-size: 12px;
 padding: 10px 10px 20px 10px;
 background: rgba(0, 0, 0, 0.8);
 margin: 20px 0 0 0;
 font-family: 'Century Gothic';
 font-weight: bold;
}
	.portfolio-view h2{
		font-size: 14px !important;
	}
.view p {
 font-family: 'Century Gothic';
 text-transform: uppercase;
 font-size: 11px;
 position: relative;
 color: #fff;
 text-align: center;
 margin-top: 7px;
}
	.portfolio-view p{
		font-size: 14px !important;
	}
.view-first img {
 transition: all 0.4s ease-in-out 0.5s;
}
.view-first .mask{
 background-color: rgba(0,0,0,0.6);
 opacity:0;
 transition: all 0.3s ease-in 0.4s;
}
	.portfolio-view .mask{
		background-color: rgba(0,0,0,0.7) !important;
	}
.view-first h2{
 opacity:0;
background: url(../images/shape.jpg) no-repeat;
 background-position: 30px 34px;
 margin: 70px 40px 0px 40px;
 transform: scale(10);
 transition: all 0.3s ease-in-out 0.1s;
}
	.portfolio-view h2{
		background-position: 70px 37px;
	}
.view-first p {
 opacity:0;
 transform: scale(10);
 transition: all 0.3s ease-in-out 0.2s;
}
.view-first:hover .mask {
 opacity:1;
 transition-delay: 0s;
}
.view-first:hover img {
 transition-delay: 0s;
}
.view-first:hover h2 {
 opacity: 1;
 transform: scale(1);
 transition-delay: 0.1s;
}
.view-first:hover p {
 opacity:1;
 transform: scale(1);
 transition-delay: 0.2s;
}
.team-wrapper{
	padding-top: 25px;
	padding-bottom: 45px;
	overflow: hidden;
	min-width: 980px;
}
.port-wrapper{
	padding-top: 5px !important;
}
.ymaps-map{
	min-width: 980px !important;
	max-width: 100%;
}

/*----------------------------------------------------Страница контактов------------------------------*/
.black-shape{
	height: 60px;
	background: rgba(0,0,0,0.7);
}
.contact-information{
	background: url(../images/back-contacts.jpg) no-repeat;
	background-size: cover;
	height: 599px;
	min-width: 980px;
	margin-bottom: 50px;
}
.contact-information .container{
	padding-top: 75px !important;
	position: relative;
	
}
.contacts-block{
	width: 408px;
	height: 379px;
	background: url(../images/papper.png) no-repeat;
	margin-left: 170px;
	padding-left: 40px;
	padding-top: 25px;
	position: relative;
}
	.contacts-block p{
		font-size: 18px;
		color: #000;
		font-family: 'Century Gothic';
		padding-left: 35px;
		padding-right: 35px;
		line-height: 1.3;
		background: url(../images/contact-png.png) no-repeat;
		background-position: 0 28px;
	}
	.contacts-block p:nth-child(2){
		margin-top: 45px;
		background-position: 0 -82px;
	}
.contact-link{background: url(../images/contact-link.png) no-repeat top left; display: inline-block;}
.contact-vopros{background-position: 0 -340px; width: 18px; height: 18px;}
.contact-star{background-position: 0 -272px; width: 19px; height: 18px;}
.contact-facebook{background-position: 0 0; width: 18px; height: 18px;}
.contact-in{background-position: 0 -68px; width: 19px; height: 18px;}
.contact-post{background-position: 0 -136px; width: 19px; height: 18px;}
.contact-skype{ background-position: 0 -204px; width: 18px; height: 18px;}

.social-link{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.duck{
	position: absolute;
	z-index: 3;
	width:393px;
	height: 561px;
	background: url(../images/duck.png) no-repeat; 
	top: 0;
	right: -60px;
}

/*-----------------------------------------------------Страница новостей---------------------------------*/
.news-wrapper{
	width: 313px;
	float: left;
	margin: 10px 6px 6px 6px;
}
.news-post{
	padding-top: 15px;
	padding-bottom: 15px;
}
.date{
	color: #4b952d;
	font-family: 'Century Gothic';
	font-size: 12px;
	padding-bottom: 10px;
	overflow: hidden;
}
.news-wrapper h3{
	text-align: center;
	text-transform: uppercase;
	color: #4b952d;
	font-family: 'Century Gothic';
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.news-wrapper p{
	color: #000;
	font-family: 'Century Gothic';
	font-size: 12px;
	line-height: 1.5;
}
.news-wrapper a{
	float: right;
	color: #000;
	font-family: 'Century Gothic';
	font-size: 12px;
	margin-top: 10px;
}
	.news-wrapper a:hover{
		text-decoration: none;
	}
.news-wrapper img{
	width: 313px;
	margin-top: 10px;
}

.news-post .container{
	overflow: hidden !important;
}

.pages{
	width: 90px;
	margin: 0 auto;
	padding-top: 40px;
}
.pages ul li{
	float: left;
	
}
	.pages ul li:last-child a{
		border-right: 0;
	}
	.pages ul li a{
		color: #000;
		text-decoration: none;
		font-family: 'Century Gothic';
		padding-right: 5px;
		padding-left: 5px;
		font-size: 12px;
		border-right: 1px solid #8d8d8d;

	}
	.pages ul li a:hover, .pages ul li a.active{
		color: #4b952d;
	}

/*---------------- Спойлер---------*/
.opened {
    color:green;
}
.closed {
    color:blue;
}
.spoiler-title{
	cursor: pointer;
}